h2 {
  color: #003b95;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.filters input,
.filters select {
  padding: 8px;
  font-size: 14px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.table thead {
  background-color: #003b95;
  color: white;
}

.table th,
.table td {
  border: 1px solid #cfd8dc;
  padding: 10px;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f1f6ff;
}

.pagination {
  margin-top: 15px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.detail-card {
  margin-top: 25px;
  border-left: 4px solid #003b95;
  padding-left: 15px;
  background-color: #ffffff;
  padding: 15px;
}

.detail-card select {
  margin-right: 8px;
  padding: 6px;
}

.detail-card textarea {
  width: 100%;
  min-height: 60px;
  margin-top: 8px;
}

.detail-card button {
  margin-top: 6px;
  background-color: #003b95;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.detail-card button:hover {
  background-color: #002b6b;
}

.detail-card ul {
  margin-top: 10px;
  padding-left: 18px;
}
.pagination button {
  background-color: #003b95;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #002b6b;
}
